#Inicio{
    transition: var(--transition);
    width: 100%;
    padding: 0 20px 80px;
    max-width: 1350px;
    color: rgba(var(--text-color), var(--opacity-text-color));
    background-color: #ffffff;
    background-color: var(--body-background-secondary);
}
.title{
    padding:  10px 15px;
    background-color:#0090cc;
    /* background-color: #0047AB; */
    border-radius: 2px;
    margin-top: 25px;
}
#main > .title:first-child{
    margin-top: 5px;
}
.title h1{
    color: rgba(241, 241, 241, 0.8);
    font-weight: 500;
    font-size: 18px;
}
#presentation p{
    padding: 20px 5px 10px;
    font-size: 16px;
    line-height: 30px;
}
#presentation ul {
    padding: 0 0 35px 25px;
}
#presentation ul li{
    margin: 8px 0;
    font-size: 16px;
}
#cardContainer{
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardContainer>div:first-child{
    padding: 10px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: calc(100% + 20px);
    flex-shrink: 0;
    flex-wrap: wrap;
}
#row{
    display: flex;
    justify-content: center;
    align-items: center;
}
#row>div:first-child{
    display: flex;
    flex-wrap: wrap;
    padding: 35px 0px 20px;
    width: calc(100% + 20px);
    flex-shrink: 0;
}
.col_row{
    width: 100%;
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
    filter: brightness(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}
.col_row>div:first-child{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col_row>div:first-child img{
    width: 100%;
    height: 100%;
}
.col_row:hover{
    transform: scale(1.2);
    z-index: 1;
}
.toCover{
    filter: brightness(50%);
}

@media screen  and (max-width: 1400px) {
    #main{
        padding: 0 5px;
    }
    #row>div:first-child{
        padding: 35px 10px 20px;
    }
    .col_row:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width: 900px) {
    #Inicio{
        padding: 0 10px 80px;
    }
}

@media screen and (max-width: 800px) {
    .col_row{
        flex-basis: 50%;
        max-width: 50%;
    }
    .col_row:hover{
        transform: scale(1.1);
    }
}
@media screen and (max-width: 500px) {
    .col_row{
        flex-basis: 100%;
        max-width: 100%;
    }
    .col_row:hover{
        transform: scale(1.05);
    }
}